p:focus {
    align-self: start;
    animation-timing-function: linear;
    
    border-right: 1px solid #000;
    /* bxz */
    clear: both;
    content: '';
    flex-grow: ;
    flex-shrink: ;
    float: left;
    font: 1em sans-serif;
    font-kerning: ;
    gap: ;
    grid: ;
    grid-auto-flow: ;
    grid-column: ;
    grid-template-rows: ;
    justify-self: start;
    line-break: ;
    line-height: ;
    list-style: ;
    list-style: ;
    max-height: ;
    max-width: ;
    min-height: ;
    min-width: ;
    opacity: ;
    outline: ;
    outline-color: #000;
    overflow: hidden;
    quotes: ;
    scale: ;
    tab-size: ;
    tsl;
    visibility: hidden;
    z-index: 3;
    zoom: 3;
    

}
a::selection

button:hover

@media screen {
    
}